@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url("https://ellexidecodes.github.io/Discord-Themes/css/new-tags.css");
::selection {background:var(--main-color-faded) !important;}

/*
TABLE OF CONTENTS

1. Background and Sizing
  1.a. Main Background
  1.b. Spacing
  1.c. General Transparency
  1.d. Light Mode Blocker

2. Titlebar
  2.a. Main Titlebar

3. Chat
  3.a. Messages and Codeblocks
  3.b. Dividers
  3.c. Transparency
  3.d. Chat Input Area
  3.e. Chat Header
  3.f. Spinners
  3.g. Welcome Message
  3.h. Scrollbar
  3.i. Bot Tags
  3.j. Linked Channels and Messages
  3.k. Reactions
  3.l. Search Bars
  3.m. Invites
  3.n. Embeds
  3.o. Calls
  3.p. Typing Indicators
  3.q. Tags

4. Channels Area
  4.a. Channels
  4.b. Account Details Container
  4.c. Top Header
  4.d. Transparency
  4.e. Private Channels Icons
  4.f. Channel Notice
  4.g. Categories

5. Guilds
  5.a. Wrapper
  5.b. Add/Create Guilds Button
  5.c. Unread and Selected Indicators
  5.d. Home Icon
  5.e. Tooltips

6. Members List
  6.a. Transparency
  6.b. Selected and Hovered Content
  6.c. User Status

7. Popups and Dropdowns
  7.a. Server Dropdown
  7.b. Status Picker
  7.c. Context Menus
  7.d. User Popouts
  7.e. Pinned Messages/Mentions
  7.f. Search Popout
  7.g. Add to Group DM
  7.h. Select Popouts
  7.i. Emoji Picker
  7.j. Gif Picker
  7.k. RTC Connection Popout
  7.l. Toasts
  7.m. @Everyone Popout

8. Modals
  8.a. Transparency
  8.b. Upload Modal
  8.c. Keyboard Shortcuts Modal
  8.d. Quick Switcher
  8.e. Screenshare Modal
  8.f. Add/Create Guilds Modal
  8.g. Reactions Modal
  8.h. Profile Modal
  8.i. Download Apps Screen

9. Settings
  9.a. Transparency and Sidebar
  9.b. Buttons and Checkboxes and Switches
  9.c. My Account
  9.d. Authorized Apps
  9.e. Connections
  9.f. Billing
  9.g. Nitro
  9.h. HypeSquad
  9.i. Voice and Video
  9.j. Overlay/Streamer Mode
  9.k. Notifications
  9.l. Keybinds
  9.m. Game Activity
  9.n. Game Library
  9.o. Language
  9.p. Change Log
  9.q. Dev Options
  9.r. BD Settings
  9.s. Server Settings
  9.t. Ace CSS Editor
  9.u. Changelog

10. Tag Animations (Animations by EllexideCodes, added here for support on tags.)
   10. Keyframes

11. Store, Activity, Library, Friends and Server Discovery
  11.a. Store
  11.b. Activity
  11.c. Library
  11.d. Friends

12. Out of app areas
  12.a. Login Screen
  12.b. Crash Screen
  12.c. Loading Screen

13. Plugins
  13.a. Theme and Pluginrepo
  13.b. BetterFormattingRedux
  13.c. GoogleTranslateOption
  13.d. Share Button
  13.e. Read All Notifications
  13.f. Compatibility Tags
  13.g. DetailedServerTooltips
  13.h. Reply System
  13.i. Permissions Viewer
  13.j. StatusEverywhere
  13.k. Date Viewer

14. Roundness

15. Overwrite Grey SVG's
*/


/*1. Background and Sizing*/
/*1.a. Main Background*/
body::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-image: var(--backdrop);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  box-shadow:inset 0 0 0 1000px var(--backdrop-darkness);
}
.layer-3QrUeG,
.layers-3iHuyZ,
.container-2lgZY8 {
	background: transparent !important;
}

/*Makes aurora compatible with monsters addons*/
.theme-dark,
.appMount-3VJmYg {
	--primary-color: rgba(0,0,0,0.75);
	--secondary-color: rgba(0,0,0,0.6);
	--tertiary-color: rgba(0,0,0,0.4);
	--quaternary-color: rgba(0,0,0,0.7);
}

/*1.b. Spacing*/
.app,
.app-2rEoOp {
	margin: 25px;
	border-radius: 6px;
	overflow: hidden;
}
.container-3gCOGc,
#friends,
.activityFeed-28jde9,
.gameLibrary-TTDw4Y,
.applicationStore-1pNvnv {
	border-radius: 6px !important;
}
.base-3dtUhz {
    border-radius:0 0 0 5px !important;
}

/*1.c. General Transparency*/
#app-mount,
.divider-3gKybi,
.typing-2GQL18,
.typing-2GQL18,
.guild-1EfMGQ .guildInner-3DSoA4 {
	background: transparent !important;
}

/*1.d. Light Mode Blocker (Based on MasicoreLord's Light Theme blocker, taken with permission). */
.theme-light .layer-3QrUeG:first-of-type::before {
  content: "Sorry, but light mode isnt supported in Aurora yet. :( ~Tropical";
  text-align:center;
  width: 500px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background:rgba(0,0,0,0.75);
  border:1px solid rgba(0,0,0,0.5);
  box-shadow:0 0 12px black;
  color:#fff;
  padding: 20px;
  padding-bottom:80px;
  border-radius: 5px;
}
.app-2rEoOp.vertical-V37hAW.theme-light .container-2Thooq > .noWrap-3jynv6 > .button-2b6hmh {
  position: absolute;
  left: 50%;
  border-radius:3px;
  top: 45%;
  transform: translate(-50%, 120%);
  width: 180px;
  height: 40px;
  visibility: visible !important;
  background: var(--main-color) !important;
  box-shadow:0 0 12px black;
  opacity:1;
}
.app-2rEoOp.vertical-V37hAW.theme-light .container-2Thooq > .noWrap-3jynv6 > .button-2b6hmh:before {
  position: absolute;
  content: "Turn On Dark Mode";
  padding:20px;
  width:200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
.theme-light .side-8zPYf6 .item-PXvHYJ:nth-of-type(19) {
    border:2px solid var(--hover-color);
    color:var(--hover-color);
    background:var(--main-color-faded);
    padding:16px;
    text-align:center;
}
.theme-light .layer-3QrUeG {
  background:var(--backdropblurred) !important;
  background-size:cover !important;
}
.theme-light .layer-3QrUeG:first-of-type * {
  visibility:hidden;
}
/*============== END OF SECTION ============== */



